@import "../../../GlobalStyles.scss";

.content-header {
  font-family: "Inter", sans-serif;
  background-color: var(--second-color);
}
.font {
  font-family: "Inter", sans-serif;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  height: 60px;
  margin-bottom: 20px;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  /* Add any other styles you need for the fixed header */
}

.header-heading-left {
  margin-right: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-heading-right {
  display: flex;
  width: 200px;
  background-color: var(--second-color);
  align-items: center;
}

.heading-right-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 40px;
  padding: 0 0 0 8px;
  border-radius: 10px;
  border-color: var(--primary-color);
  border-width: 1.8px;
  background-color: var(--second-color);
}

.heading-right-button:hover {
  cursor: pointer;
  opacity: 0.5;
}
.heading-right-button > Link {
  width: 70%;

  color: var(--primary-color);
  font-weight: 500;
  text-decoration: none;
}
.header-heading-right  {
  min-width: 100px;
}

.header-home,
.header-planing,
.header-discover,
.header-blog {
  margin: 0 10px 0 10px;
}

.logo {
  display: flex;
  width: 200px;
  height: 30px;
  justify-content: center;
  align-items: center;
}
.logo-name {
  text-align: center;
  color: var(--primary-color);
  font-weight: 600;
}

.header-home,
.header-discover,
.header-blog,
.header-planing {
  background-color: var(--second-color);
  border: none;
  height: 48px;
  margin-bottom: 4px;
  width: 80px;
}
.header-home,
.header-discover,
.header-blog,
.header-planing > p {
}

.header-home:hover .header__link-hover {
  cursor: pointer;
  border-bottom: 2px solid var(--primary-color);
  opacity: 0.8;
  padding-bottom: 4px;
}

.header-discover:hover .header__link-hover {
  cursor: pointer;
  border-bottom: 2px solid var(--primary-color);
  opacity: 0.8;
  padding-bottom: 4px;
}

.header-blog:hover .header__link-hover {
  cursor: pointer;
  border-bottom: 2px solid var(--primary-color);
  opacity: 0.8;
  padding-bottom: 4px;
}

.header-planing:hover .header__link-hover {
  cursor: pointer;
  border-bottom: 2px solid var(--primary-color);
  opacity: 0.8;
  padding-bottom: 4px;
}

.header__link-left {
  text-decoration: none;
  height: auto;
  width: 100%;
  color: black;
}
.header__link-right {
  text-decoration: none;
  color: var(--primary-color);
  padding-right: 4px;
  font-weight: 500;
  height: 100%;
  padding-top: 18px;
}

.current-user {
  display: flex;
  height: 90px;
  align-items: center;
  width: 200px;
  justify-content: space-around;
  position: relative;
  .current-user-avt {
    width: 25px;
    height:25px;
    border-radius: 50%;
  }
  .current-user-name {
    font-size: 14px;
    opacity: 0.6;
  }
}
.current-user-button {
  background-color: transparent;
  border: none;
  font-size: 14px;
  position: relative;
  img {
    width: 18px;
    height: 18px;
  }
}
.dropdown-menu {
  position: absolute;
  min-width: 160px;
  min-height: 100px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  justify-content: center;
  ul {
    width: 100%;
    padding: 0;
    li {
      height: 20px;
      width: 100%;
      display: flex;
      padding: 8px;
      text-decoration: none;
      list-style-type: none;
      align-items: center;
      Link {
        display: flex;
        justify-content: center;
        align-items: center;
        
      }
      img {
        padding: 0px 14px;
      }
    }
  }
}
.reset-link {
  text-decoration: none;
  color: inherit;
}
.dropdown-menu > ul > li:hover {
  cursor: pointer;
  opacity: 0.4;
}
.logout-btn {
  border: none;
  background-color: inherit;
}